<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>CSGO QUIZ</title>
 
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
 
  <body>
    <center>
    <h1>CSGO QUIZ</h1>
    <div class="form-group">
        <form method="POST" action="/">
                <input type="text" name="text" cols="100" rows="5" placeholder="Guess CSGO Player"></textarea><br>
                <input class="btn btn-primary" name="text" type="submit" value="Answer">
        </form><br>
    <font size="5">{{result}}</font>
    </center>
 
  </body>
</html>